<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>482806872525-rsopthm0kqsnrpifldggvbdgjb2br48g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482806872525-rsopthm0kqsnrpifldggvbdgjb2br48g</string>
	<key>API_KEY</key>
	<string>AIzaSyArHZwLna7EqxInxt4oKuHOosEtfhIGK-k</string>
	<key>GCM_SENDER_ID</key>
	<string>482806872525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incotyx.duedate</string>
	<key>PROJECT_ID</key>
	<string>due-date-6405b</string>
	<key>STORAGE_BUCKET</key>
	<string>due-date-6405b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482806872525:ios:52db7ff0d8079b16</string>
	<key>DATABASE_URL</key>
	<string>https://due-date-6405b.firebaseio.com</string>
</dict>
</plist>